    img {
            height: 300px;
            border-radius: 15%;
            border-color: black;
            border-width: 5px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        
        .p1 {
            font-family: "Times New Roman", Times, serif;
        }
        
        .p2 {
            font-family: 'Times New Roman', Times, serif;
        }
        
        .p3 {
            font-family: 'Times New Roman', Times, serif;
        }
        
        h1 {
            color: crimson;
            text-align: center;
            width: 60px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    h2 {
        color: crimson;
        font-family: 'Times New Roman', Times, serifs;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-block-end: auto;
        margin-block-start: auto;
    }
    h3 {
        text-align: start;
    }
    p {
        color: black;
    }